body {
  background: $bg;
  text-align: center;
  padding-top: 20px;
}

.ghost-button {
    color: $b;
    background: $secondary;
    border: 1px solid #009688;
    font-size: 17px;
    padding: 7px 12px;
    font-weight: normal;
    margin: 6px 0;
    margin-right: 12px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    min-width: 120px;
}

.ghost-button:hover, .ghost-button:active {
  color: $secondary;
  background: $primary;
}

@media only screen and (min-width: 38em) {
  
  .ghost-button{
    
  }
  
}